body{
  margin: 0px;
}


.Navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  width: 100%;
}
.Search{
  display: flex;
  gap: 5px;
  padding: 5px;
  width: 30%;
}
.Search>input{
  width: 70%;
}
.Location{
  height: 100vh;
  width: 100%;
  padding-top: 80px;
}
.Locationgrid{
  display: grid;

}
.Hour{
  display: flex;
  overflow: scroll;
}
.hourtiles{
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}