body{
  margin: 0px;
}


.Navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  width: 100%;
  color: white;
  font-size: large;
  padding: 0px;
  background: rgb(203,220,228);
background: linear-gradient(0deg, rgba(203,220,228,0.7310573887758228) 19%, rgba(99,99,102,0.8991246156665791) 97%);
  height: 50px;
}
.Navbar p{
  padding: 5px;
}
.Search{
  display: flex;
  gap: 5px;
  padding: 5px;
  width: 30%;
}
.Search>input{
  width: 70%;
}
.Location{
  height: 100vh;
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.Locationgrid{
  display: grid;

}
.Hour{
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none;
}

.hourtiles{
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sunny{
  background: rgb(23,110,214);
  background: linear-gradient(0deg, rgba(23,110,214,1) 0%, rgba(0,255,236,1) 100%);
  color: white;
}
.partly_cloudy{
  background: rgb(208,219,232);
  background: linear-gradient(0deg, rgba(208,219,232,1) 3%, rgba(175,203,209,1) 36%, rgba(0,255,236,1) 100%);
  color: white;
}
.cloudy_night{
  background: rgb(99,99,102);
background: linear-gradient(0deg, rgba(99,99,102,1) 0%, rgba(16,17,28,0.9943627109046743) 60%);
color: white;
}
.cloudy{
  background: rgb(99,99,102);
background: linear-gradient(0deg, rgba(99,99,102,1) 10%, rgba(150,180,194,0.9943627109046743) 100%);
color: white;
}
.rainy{
  background: rgb(11,11,11);
  background: linear-gradient(0deg, rgba(11,11,11,1) 13%, rgba(116,118,119,1) 100%);
  color: white;
}
.mist{
  background: rgb(99,96,96);
  background: linear-gradient(0deg, rgba(99,96,96,1) 1%, rgba(116,118,119,1) 95%);
  color: white;
}
.Night{
  background: rgb(28,28,64);
background: linear-gradient(0deg, rgba(28,28,64,1) 58%, rgba(16,17,28,0.9943627109046743) 100%);
color: white;
}

.Hour::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
.hourorigin h2{
  text-align: center;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}